<html>
    <head>
        <title>View Cars</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <style>
        table {
            font-family:'Times New Roman', Times, serif;
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #04AA6D;
            padding: 5px;
        }
        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;  
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        tr:hover {background-color: #8ee6c6;}
    </style>
    <body onload="getAllAjax()" style = "padding: 20px;">
        <h1 style="font-family:Georgia; border: 2px solid #04AA6D; text-align:center;">Cars</h1>
        <hr>
        <div> 
            <button id="showCreateButton" onclick="showCreate()" style="padding: 10px 20px; font-family: 'Times New Roman', Times, serif; font-size: 16px;">Add New Car to Database</button>
            <button id="showLicencedCarsButton" onclick="showLicencedCars()" style="padding: 10px 20px; font-family: 'Times New Roman', Times, serif; font-size: 16px;">View Recently Licenced Cars</button>
            </div> 
        <div id="carTablePage">
            <h3 style="font-family:Georgia; text-align:center; padding: 20px">Cars Database Table</h3>
            <table class="table" id="carTable">
                <tr>
                        <th>Registration</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Colour</th>
                        <th>Mileage</th>
                        <th>Engine Size</th>
                        <th>Update</th>
                        <th>Delete</th>
                </tr>
            </table>
        </div>
        <div id="licencedCarsTable" style="display: none; text-align: center;">
            <h3 style="font-family:Georgia; text-align:center; padding: 20px">Cars Licenced in Ireland: <span id="licencedCarsMonth">[Month]</span></h3>
            <div><button id="hideLicencedCarsButton" onclick="hideLicencedCars()">Return to Cars Database</button></div>
            <table class="table" id="recentlyLicencedCarsIrelandTable">
                <tr>
                        <th>County</th>
                        <th>Cars</th>
                </tr>
            </table>
        <div id='createUpdateForm' style="display: none">
                <h2><span id="createLabel">Add a</span> <span id="updateLabel">Update a</span> Car</h2>
                Registration <input type="text" name="registration" id="registration_input" /><br/>
                Make <input type="text" name="make" id="make_input"/> <br/>
                Model <input type="text" name="model" id="model_input"/> <br/>
                Colour <input type="text" name="colour" id="colour_input"/> <br/>
                Mileage <input type="number" name="mileage" id="mileage_input"/> <br/>
                Engine Size <input type="number" name="engineSize" id="engine_input"/> <br/>
                <span><button id="doCreateButton" onclick="doCreate()">Create</button></span>
                <span><button id="doUpdateButton" onclick="doUpdate()">Update</button></span>
        </div>
    </body>
    <script>
        // Functions for showing different parts of the HTML page, depending on what is clicked: 
    function showViewAll(){
        document.getElementById('showCreateButton').style.display="block"
        document.getElementById('carTablePage').style.display="block"
        document.getElementById('showLicencedCarsButton').style.display="block"
        document.getElementById('licencedCarsTable').style.display="none"
        document.getElementById('createUpdateForm').style.display="none"
    }
    function showRecentlyLicencedTable(month){
        document.getElementById('showCreateButton').style.display="none"
        document.getElementById('carTablePage').style.display="none"
        document.getElementById('showLicencedCarsButton').style.display="none"
        document.getElementById('createUpdateForm').style.display="none"

        document.getElementById('licencedCarsTable').style.display="block"
        document.getElementById("licencedCarsMonth").innerText = month;
    }
    function showCreate(){
        document.getElementById('showCreateButton').style.display="none"
        document.getElementById('carTablePage').style.display="none"
        document.getElementById('showLicencedCarsButton').style.display="none"
        document.getElementById('licencedCarsTable').style.display="none"
        document.getElementById('createUpdateForm').style.display="block"

        document.getElementById('registration_input').disabled = false;
        document.getElementById('createLabel').style.display="inline"
        document.getElementById('updateLabel').style.display="none"

        document.getElementById('doCreateButton').style.display="block"
        document.getElementById('doUpdateButton').style.display="none"
    }
    function showUpdate(buttonElement){
        document.getElementById('showCreateButton').style.display="none"
        document.getElementById('carTablePage').style.display="none"
        document.getElementById('showLicencedCarsButton').style.display="none"
        document.getElementById('licencedCarsTable').style.display="none"
        document.getElementById('createUpdateForm').style.display="block"

        document.getElementById('registration_input').disabled=true;
        document.getElementById('createLabel').style.display="none"
        document.getElementById('updateLabel').style.display="inline"

        document.getElementById('doCreateButton').style.display="none"
        document.getElementById('doUpdateButton').style.display="block"

        var rowElement = buttonElement.parentNode.parentNode
        
        var car = getCarFromRow(rowElement)
        populateFormWithCar(car)
    }

    //Functions that will be used in doCreate, doUpdate, and doDelete: 
    function getCarFromForm(){
        var form = document.getElementById('createUpdateForm')
        var car = {}
        car.registration = document.getElementById('registration_input').value;
        car.make = document.getElementById('make_input').value;
        car.model = document.getElementById('model_input').value;
        car.colour = document.getElementById('colour_input').value;
        car.mileage = document.getElementById('mileage_input').value;
        car.engineSize = document.getElementById('engine_input').value;
        return car
    }
    function clearForm(){
        var form = document.getElementById('createUpdateForm')

        form.querySelector('input[name="registration"]').value=''
        form.querySelector('input[name="make"]').value=''
        form.querySelector('input[name="model"]').value=''
        form.querySelector('input[name="colour"]').value=''
        form.querySelector('input[name="mileage"]').value=''
        form.querySelector('input[name="engineSize"]').value=''        
    }
    function getCarFromRow(rowElement){
        var car ={}
        car.registration  = rowElement.cells[0].firstChild.textContent
        car.make = rowElement.cells[1].firstChild.textContent
        car.model = rowElement.cells[2].firstChild.textContent
        car.colour = rowElement.cells[3].firstChild.textContent
        car.mileage = parseInt(rowElement.cells[4].firstChild.textContent,10)
        car.engineSize = parseInt(rowElement.cells[5].firstChild.textContent,10)
        return car
    }
    function setCarInRow(rowElement, car){
        rowElement.cells[0].firstChild.textContent=car.registration
        rowElement.cells[1].firstChild.textContent=car.make 
        rowElement.cells[2].firstChild.textContent=car.model
        rowElement.cells[3].firstChild.textContent=car.colour
        rowElement.cells[4].firstChild.textContent=car.mileage
        rowElement.cells[5].firstChild.textContent=car.engineSize

        rowElement.setAttribute("data-reg", car.registration);
    }
    function addCarToTable(car){
        var tableElement = document.getElementById('carTable')
        var rowElement = tableElement.insertRow(-1)
        rowElement.setAttribute('data-reg', car.registration) //The preface data- here means this can be used with the CSS querySelector
        var cell1 = rowElement.insertCell(0);
        cell1.innerHTML = car.registration
        var cell2 = rowElement.insertCell(1);
        cell2.innerHTML = car.make
        var cell3 = rowElement.insertCell(2);
        cell3.innerHTML = car.model
        var cell4 = rowElement.insertCell(3);
        cell4.innerHTML = car.colour
        var cell5 = rowElement.insertCell(4);
        cell5.innerHTML = car.mileage
        var cell6 = rowElement.insertCell(5);
        cell6.innerHTML = car.engineSize
        var cell7 = rowElement.insertCell(6);
        cell7.innerHTML = '<button onclick="showUpdate(this)">Update</button>'
        var cell8 = rowElement.insertCell(7);
        cell8.innerHTML = '<button onclick=doDelete(this)>Delete</button>'
    }
    function populateFormWithCar(car){
        var form = document.getElementById('createUpdateForm')

        form.querySelector('input[name="registration"]').value  = car.registration
        form.querySelector('input[name="make"]').value= car.make
        form.querySelector('input[name="model"]').value= car.model
        form.querySelector('input[name="colour"]').value= car.colour
        form.querySelector('input[name="mileage"]').value= car.mileage
        form.querySelector('input[name="engineSize"]').value= car.engineSize
        return car
    }

    // Functions that occur on pressing Update, Create, or Delete buttons on the HTML page: 
    function doCreate(){
        var car = getCarFromForm();

        createCarAjax(car);
    }
    function doUpdate(){
        var car = getCarFromForm();

        updateCarAjax(car);
    }
    function doDelete(buttonElement){
        var row = buttonElement.closest("tr");
        var reg = row.getAttribute("data-reg");

        deleteCarAjax(reg);
    }
    function showLicencedCars(){
        licencedCarsAjax()
    }
    function hideLicencedCars(){
        showViewAll()
    }

    // All the Ajax Functions: Get all cars from the database and populate table, create a car, update a car, and delete a car: 
    function getAllAjax(){
        $.ajax({
            "url": "/cars",
            "method":"GET",
            "data":"",
            "dataType": "JSON",
            "success":function(result){
                for (car of result){
                    addCarToTable(car);
                }
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }
    function createCarAjax(car){
        $.ajax({
            "url": "/cars",
            "method":"POST",
            "data":JSON.stringify(car),
            "dataType": "JSON",
            "contentType": "application/json; charset=utf-8",
            "success":function(result){
                console.log(result);
                clearForm();
                addCarToTable(result);
                showViewAll();
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }
    function updateCarAjax(car){
        $.ajax({
            "url": "/cars",
            "method":"PUT",
            "data":JSON.stringify(car),
            "dataType": "JSON",
            "contentType": "application/json; charset=utf-8",
            "success":function(result){
                console.log(result);
                var row = document.querySelector(`tr[data-reg="${car.registration}"]`) 
                setCarInRow(row,car)
                clearForm()
                showViewAll()
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }
    function deleteCarAjax(reg){
        $.ajax({
            "url": "/cars/"+encodeURI(reg),
            "method":"DELETE",
            "data":"",
            "dataType": "JSON",
            "contentType": "application/json; charset=utf-8",
            "success":function(result){
                // Find and remove the row with data-reg = reg
                var row = document.querySelector(`tr[data-reg="${reg}"]`);
                if (row) {
                    row.remove(); 
                } else {
                    console.warn("Row not found for reg:", reg);
                }
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }
    function licencedCarsAjax(){
        $.ajax({
            "url": "/cars/recently_licenced_ireland",
            "method":"GET",
            "data":"",
            "dataType": "JSON",
            "contentType": "application/json; charset=utf-8",
            "success":function(result){
                month = result["month"]
                cars_licenced_dict = result["cars_licenced"]
                for (county in cars_licenced_dict){
                    const cars = cars_licenced_dict[county]
                    const row = `<tr><td>${county}</td><td>${cars}</td></tr>`;
                    $("#recentlyLicencedCarsIrelandTable").append(row);
                }

                showRecentlyLicencedTable(month);
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }
    </script>
</html>